@import "reset";
@import "variables";
body{
    overflow: hidden;
}

.main{
    width: 100vw;
    height: 100vh;
    background: $color1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .logo{
        font-size: 30px;
        color: $color4;
        font-family: $font1;
        margin-bottom: 50px;
    }
    .chistmas-lights
    {
        position: absolute;
        top: 0;
        width: 100vw;
        .rows{
            width: 100%;
            .lights{
                ul{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 50px;
                    li{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        position: relative;
                        transition: 1s ease;
                    }
                    .color1{
                        background: #D73624;
                        background: radial-gradient(circle, rgba(215, 54, 36,1) 25%,  rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%);
                    }
                    .color2{
                        background: #EE632A;
                        background: radial-gradient(circle, rgba(238, 99, 42,1) 25%,  rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%);
                    }
                    .color3{
                        background: #F4D942;
                        background: radial-gradient(circle, rgba(244, 217, 66,1) 25%,  rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%);
                    }
                    .color4{
                        background: #177749;
                        background: radial-gradient(circle, rgba(23, 119, 73,1) 25%,  rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%);
                    }
                    .color5{
                        background: #217DD4;
                        background: radial-gradient(circle, rgba(33, 125, 212,1) 25%,  rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%);
                    }
                    .color6{
                        background: #263C9F;
                        background: radial-gradient(circle, rgba(38, 60, 159,1) 25%,  rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%);
                    }
                    .color7{
                        background: #6E1B5F;
                        background: radial-gradient(circle, rgba(110, 27, 95,1) 25%,  rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%);
                    }
                    .on{

                    }
                    .off
                    {
                        box-shadow: none;
                        
                    }
                }
            }
        }
    }
    
}

.credito{
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
    a{
        font-size: 15px;
        font-family: $font2;
        color: $color3;
    }
}