<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&family=Dosis:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="main" class="main">
        
        <div class="chistmas-lights">
            <ul class="rows">
                <li class="lights">
                    <ul v-for="line in setup.lines">
                        <li v-for="light in setup.lights" :style="{background: classColor(line.lights,light-1)}">
                            <div class="inputs">
                                <input type="number" min="0" max="255" class="red" v-model="line.lights[light-1].r">
                                <input type="number" min="0" max="255" class="green" v-model="line.lights[light-1].g">
                                <input type="number" min="0" max="255" class="blue" v-model="line.lights[light-1].b">
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="logo">
            <h1>Christmas Lights</h1>
        </div>
        <div class="control">
            <div class="onOff">
                <h2>On / Off</h2>
                <div class="button" :class="{off: !on}" @click="onOff()">
                    <div>
                        <p>{{on ? "ON" : "OFF"}}</p>
                    </div>
                </div>
            </div>
            <div class="speed">
                <h2>Speed</h2>
                <input type="number" v-model="speed">
            </div>
        </div>
    </div>
    <p class="credito"><a href="https://prismacode.com" target="_blank">Gustavo Lima de Carvalho - 2020</a></p>
    <script src="./js/main.js"></script>
</body>
</html>