<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&family=Dosis:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="main" class="main">
        
        <div class="chistmas-lights">
            <ul class="rows">
                <li class="lights">
                    <ul v-for="(line,i) in setup.lines">
                        <li 
                            v-for="light in setup.lights"
                            :style="{
                                background: classColor(line.lights,light-1),
                                width: line.lights[light-1].size + 'px',
                                height: line.lights[light-1].size + 'px',
                            }" 
                            @click="selectLight(i,light-1)">
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="logo">
            <h1>Christmas Lights</h1>
        </div>
        <div class="control">
            <div class="onOff">
                <h2>On / Off</h2>
                <div class="button" :class="{off: !on}" @click="onOff()">
                    <div>
                        <p>{{on ? "ON" : "OFF"}}</p>
                    </div>
                </div>
            </div>
            <div class="speed">
                <h2>Speed</h2>
                <input type="text" v-model="speed">
            </div>
            <div class="lightColor">
                <h2>Light Color</h2>
                <div class="light" :style="{background: classColor(setup.lines[lightSelected.line].lights,lightSelected.light)}"></div>
                <div class="inputs">
                    <input type="text" class="red" v-model="lightSelected.r" v-on:keyup="changeColor('r')">
                    <input type="text" class="green" v-model="lightSelected.g" v-on:keyup="changeColor('g')">
                    <input type="text" class="blue" v-model="lightSelected.b" v-on:keyup="changeColor('b')">
                </div>
            </div>
            <div class="lightColor">
                <h2>Light Size</h2>
                <div class="light" :style="{background: classColor(setup.lines[lightSelected.line].lights,lightSelected.light)}"></div>
                <input type="text" v-model="lightSelected.size" v-on:keyup="changeSize()">
            </div>
            <div class="speed">
                <h2>Itensity</h2>
                <input type="text" v-model="maxItensity">
            </div>
            <div class="rows">
                <h2>Rows</h2>
                <div>
                    <div class="number">
                        <p>{{setup.lines.length}}</p>
                    </div>
                    <div class="arrows">
                        <button @click="addLine()">/\</button>
                        <button @click="removeLine()">\/</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="credito"><a href="https://prismacode.com" target="_blank">Gustavo Lima de Carvalho - 2020</a></p>
    <script src="./js/main.js"></script>
</body>
</html>